*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 80%;
    margin: auto;
}
#main-div,#intro,#box1,#box2,#box3,footer{
    background-color: #bfbaba;
    font-size:27px;
}
#main-head{
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 30%;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #bfbaba;
    margin-bottom: 10px;
}
#header{
    min-height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: #bfbaba;
    font-size:27px;
    margin-bottom: 10px;
}
#intro{
    min-height: 120px;
    text-align: center;
    line-height: 120px;
    margin-bottom: 10px;


}
#containBox{
    display: flex;
    flex-direction: row;
    
}
#box1{
    width: 33%;
    margin-right: 10px;
    min-height: 320px;
    text-align: center;
    line-height: 320px;
}
#box2{
    width: 33%;
    margin-right: 10px;
    min-height: 320px;
    text-align: center;
    line-height: 320px;
}
#box3{
    width: 33%;
  
    min-height: 320px;
    text-align: center;
    line-height: 320px;
}
footer{
    margin-top: 10px;
    min-height: 100px;
    text-align: center;
    line-height: 100px;
}
